* {
  padding: 0;
  margin: 0;
/*   white-space: nowrap; */
  transition: all 0.3s ease-in;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei';
}

.app {
  width: 100%;
  height: 100%;
  background-color: #333;
  // 浮动
  >.box_1 {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    >.left {
      float: left;
      width: 300px;
      height: 100px;
      background-color: blue;
    }
    >.right {
      float: right;
      width: 300px;
      height: 100px;
      background-color: blue;
    }
    >.center {
      height: 100%;
      background-color: green;
    }
  }
  // 定位
  >.box_2 {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    >div {
      height: 100%;
      position: absolute;
      top: 0;
    }
    >.left {
      left: 0;
      width: 300px;
      background-color: blue;
    }
    >.right {
      right: 0;
      width: 300px;
      background-color: blue;
    }
    >.center {
      left: 300px;
      right: 300px;
      background-color: green;
    }
  }
  // flex
  >.box_3 {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    >div {
      height: 100%;
    }
    >.left {
      width: 300px;
      background-color: blue;
    }
    >.center {
      flex: 1;
      background-color: green;
    }
    >.right {
      width: 300px;
      background-color: blue;
    }
  }
  // table
  >.box_4 {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: table;
    >div {
      display: table-cell;
      /* height: 100%; */
    }
    >.left {
      width: 300px;
      width: 100%;
      height: 50px;
      background-color: blue;
    }
    >.center {
      background-color: green;
      width: 100%;
      height: auto;
    }
    >.right {
      width: 300px;
      width: 100%;
      height: 50px;
      background-color: blue;
    }
  }
  // table
  >.box_5 {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px auto 300px;
    >div {
      /* display: table-cell; */
      height: 100%;
    }
    >.left {
      /* width: 300px; */
      background-color: blue;
    }
    >.center {
      background-color: green;
    }
    >.right {
      /* width: 300px; */
      background-color: blue;
    }
  }
  // ============================
  // ============================
  // flex
  >.flex_learn {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ccc;
    >div{
      height: 160px;
    }
    >.left {
      width: 60%;
      /* height: 150px; */
      background-color: blue;
    }
    >.center {
      // height: 15%;
      width: 15%;
      /* flex: 1; */
      /* width: 200px; */
      background-color: green;
    }
    >.right {
      width: 30%;
      /* height: 350px; */
      background-color: blue;
    }
  }
}
